[Unit]
Description=Btrust
After=bluetooth.service
Wants=bluetooth.service

[Service]
ExecStart=/usr/local/bin/btrust
WorkingDirectory=/etc
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
