# {{ ansible_managed }}
[Unit]
Description=PulseAudio
After=bluetooth.service
Wants=bluetooth.service

[Service]
ExecStart=/usr/bin/pulseaudio --disallow-exit --disable-shm
User=a2dp-sink
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
